n/
.*
*.log
logs/
myenv/
nohup.out
package-lock.json
certs/
ScrollHub/
folders/doom.publicserver.live/
folders/blank_template/
folders/blog_template/
folders/paper_template/
folders/teaser_template/
folders/fishtank.publicserver.live/
folders/test.publicserver.live/
folders/news.publicserver.live/
folders/ScrollHub/
./.npm/_logs/
./.local/state/pipx/log/
./.pm2/
output.log