:root {
  --primary-color: #4a90e2;
  --secondary-color: #50c878;
  --background-color: #f5f5f5;
  --text-color: #333;
  --form-background: #ffffff;
  --border-color: rgba(204, 204, 204, 0.8);
  --hover-color: rgba(114, 114, 114, 1);
  --light-grey: rgba(144, 144, 144, 0.8);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-bg-color: rgba(220, 220, 220, 0.3);
  --border-light: #ddd;
}

/* Scroll Template Styles */
.CodeMirror {
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

body {
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 10px;
  height: 100%;
  padding-bottom: 0;
  box-sizing: border-box;
}

.selectedFile {
  font-weight: bold;
}

#errorMessage {
  color: red;
  flex: 100%;
  padding: 30px 8px 0;
  display: none;
}

.greyText,
.greyText a {
  color: var(--light-grey);
  text-align: center;
  font-size: 0.8rem;
  white-space: pre;
  font-family: monospace;
  margin: auto;
  padding: 0.5rem;
}

.folderActionLink {
  color: var(--light-grey);
}
.deleteFileLink,
.duplicateFileLink,
.renameFileLink {
  color: var(--light-grey);
  margin-left: 20px;
  cursor: pointer;
}

.drag-over {
  border: 2px dashed var(--primary-color);
  background-color: rgba(0, 123, 255, 0.1);
}

#previewIFrame {
  height: 600px;
  width: 400px;
  border: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
}

#folderName {
  outline: none;
}

.iframeHolder {
  width: 200px;
  height: 125px;
  box-shadow: 2px 2px 2px 2px var(--shadow-color);
  border-radius: 8px;
  margin: 10px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#fileList {
  margin: 0 10px;
  height: 352px;
  max-width: 200px;
  overflow: auto;
}

.nonScrollFile {
  color: grey;
}
.untracked {
  opacity: 0.5;
}

.createFileButton {
  cursor: pointer;
  padding: 1px 10px;
  margin: 8px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.createFileButton:hover {
  background-color: var(--hover-bg-color);
}

form {
  background-color: var(--form-background);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  margin: 0 auto;
  max-width: 600px;
}

#importForm {
  margin-top: 20px;
}

#editForm {
  max-width: 1025px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.editorHolder {
  border-left: 1px solid rgb(232, 232, 232);
  padding: 7px;
}

input[type="text"],
textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--border-light);
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

textarea {
  width: 80ch;
  max-width: 100%;
}

.CodeMirror {
  border: 0;
}

.scrollButton.createButton {
  padding: 10px 20px;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  margin: 0;
}

.publishButton {
  margin-top: 7px;
  border-radius: 4px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  form {
    flex-direction: column;
    align-items: stretch;
  }
  input[type="text"] {
    border-radius: 4px;
    margin-bottom: 10px;
  }
}

#spinner {
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
}

#spinner span {
  color: grey;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid grey;
  padding: 0 10px 2px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#fileFilter {
  border: 0;
  outline: none;
}
